<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="static/main.css" />
		<title>My Store API</title>
	</head>
	<body>
		<h1>My Store API</h1>
		<h3>Note: This is not inteded to be user-facing.</h3>

		<hr />
		<h5>API Documentation</h5>
		<p>The following is the list of methods supported by the Store API</p>

		<ul>
			<li>/api/catalog > Returns the catalog</li>
			<li>....</li>
		</ul>
	</body>
</html>
